h2{
    font-weight: 300;
    font-size:50px;
}

#firstColumn{
    background-color: blue;
    height:300px;
    }
    
    #secondColumn{
        background-color: green;
        height:300px;
    }
    #thirdColumn{
        background-color: yellow;
        height:300px;
    }
    .first{
        background-color: yellow;
        height: 100px;
    }
    .second{
        background-color: rgb(255, 255, 122);
        height: 100px;

    }
    .third{
        background-color: rgb(247, 247, 167);
        height: 100px;

    }
h2.blog-post-title{
    display: flex;
    flex-direction: row;
    font-weight: 700;
    margin-right:10px;
}
.post-heading{
    display: flex;
}
.post-heading h3{
    font-weight: 400;
    font-size: 37px;
    line-height: 2;
}
.links a{
    color: cornflowerblue!important;
    text-decoration: underline!important;
}


@media(max-width:768px){
    .blog-card{
        width: 300px!important;
    }
.colors{
    padding: 0!important;
    margin: 0 auto;
}
.colors div{
    width:300px;
}
    .blog-card-image{
        width:300px!important;
    }
    h2.blog-post-title{
        display: block;
        font-weight: 700;
        margin-right:10px;
    }
    .post-heading{
        display: block;
        text-align: center;
    }
    .blog-main{
        text-align: center;
        justify-content: center;
        margin: 0 auto;
    }
}